var nombre_dir=siper
  h1 Instalacion 
  code.
    sudo ls -cal /opt/insts
    sudo chown $USER -R /opt/bin/coderun
    cd /opt/bin/coderun
    git pull
if nombre_dir
  code.
    sudo ls -cal /opt/insts
else
  code.
    otro sudo ls -cal /opt/insts
end if