.marco-arbol
  table
    border-collapse collapse
    border-spacing 0

td.arbol-contenido-nodo
  border 2px solid black
  min-width 11em
  max-width 11em
  > div
    padding 2px
    min-height 6em

td.arbol-contenido-nodo-abierto
  position sticky
  left -5px
  right -5px
  border 0
  > div
    border 2px solid black


.arbol-conector-superior
  border-left 2px solid black

.arbol-techo
  border-top 2px solid black

.arbol-margen-horizontal 
  & > td
    height 1em

.arbol-linea-subnodos
  vertical-align top
  text-align center

.arbol-subnodo
  display inline-block
  vertical-align top

td.arbol-td-subnodo  
  white-space nowrap

td
  white-space normal
  padding 0

.arbol-margen-lateral
  min-width 1em
  width 50%

.arbol-sector
  font-size 85%
  margin-bottom 2px  