
[placeholder]:empty::before 
  content attr(placeholder)
  color #7bF

[my-colname=annio]
  .number-separator
    display none

div.fp-fieldname-cuil
  width 12em

div.fp-fieldname-cod_novedades__novedad
  width 40em

label.fp-fieldname-dds1
  margin-left 2em

.MuiAutocomplete-root  
  display inline-flex