
[placeholder]:empty::before 
  content attr(placeholder)
  color #7bF

[my-colname=annio]
  .number-separator
    display none

div.fp-fieldname-cuil
  width 12em

.MuiAutocomplete-root  
  display inline-flex